header {
	border: 1px solid red;
	padding: 60px; /* preenchimento interno da caixa */
}
h1 {
	border: 1px solid green;
	height: 60px;
}
p {
	margin: 20px;
	border: 1px solid purple;
}
span {
	border: 1px solid pink;
}

/*
Elementos como header, h1, e p tem por padrão o display do tipo block. Enquanto elemento como span tem o display do tipo inline.
*/